# Challenge Part 3

In [1]:
# Import the dependencies.
import gmaps
import requests
import pandas as pd
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
vacation_df = pd.read_csv("weather_data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
0,12,Vaini,TO,75.20,broken clouds,-21.20,-175.20,Keleti Beach Resort
1,13,Champerico,GT,86.56,clear sky,14.30,-91.92,"Hotel y restaurante ""El Diamante"""
2,17,Phan Thiet,VN,78.19,overcast clouds,10.93,108.10,Hotel Saigon-PT
3,18,Chapais,CA,89.60,few clouds,49.78,-74.85,Hôtel Opémiska
4,20,Elko,US,82.40,clear sky,41.00,-115.50,NaN

In [3]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather Description</dt><dd>{Current Weather Description}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# 4 cities in Brazil
route_start = vacation_df.loc[(vacation_df)["City"] == "Olinda"]

route_second = vacation_df.loc[(vacation_df)["City"] == "Touros"]

route_third = vacation_df.loc[(vacation_df)["City"] == "Itarema"]

route_end = vacation_df.loc[(vacation_df)["City"] == "Riachao"]

In [6]:
route_start

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
125,387,Olinda,BR,80.6,scattered clouds,-8.01,-34.86,Hotel 5 Sóis

In [7]:
route_second

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
36,146,Touros,BR,80.6,scattered clouds,-5.2,-35.46,INN NEW HORIZON

In [8]:
route_third

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
173,553,Itarema,BR,81.09,few clouds,-2.92,-39.92,Windvillage

In [9]:
route_end

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
130,401,Riachao,BR,82.81,scattered clouds,-7.36,-46.62,Pousada Nordestina

In [22]:
route_itinerary_df = pd.concat([route_start, route_second, route_third, route_end])
route_itinerary_df

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
125,387,Olinda,BR,80.60,scattered clouds,-8.01,-34.86,Hotel 5 Sóis
36,146,Touros,BR,80.60,scattered clouds,-5.20,-35.46,INN NEW HORIZON
173,553,Itarema,BR,81.09,few clouds,-2.92,-39.92,Windvillage
130,401,Riachao,BR,82.81,scattered clouds,-7.36,-46.62,Pousada Nordestina

In [23]:
route_itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
0,387,Olinda,BR,80.60,scattered clouds,-8.01,-34.86,Hotel 5 Sóis
1,146,Touros,BR,80.60,scattered clouds,-5.20,-35.46,INN NEW HORIZON
2,553,Itarema,BR,81.09,few clouds,-2.92,-39.92,Windvillage
3,401,Riachao,BR,82.81,scattered clouds,-7.36,-46.62,Pousada Nordestina

In [24]:
# Lat-Lng Pairs
olinda = (-8.01, -34.86)
touros = (-5.2, -35.46)
itarema = (-2.92, -39.92)
riachao = (-7.36, -46.62)

fig = gmaps.figure()
route_itinerary_df = gmaps.directions_layer(olinda, riachao, waypoints=[touros, itarema], travel_mode = "DRIVING")
fig.add_layer(route_itinerary_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather Description</dt><dd>{Current Weather Description}</dd>
</dl>
"""
# Store the DataFrame Row
# I don't understand the Attribute Error below, code follows the instructions best possible
hotel_info = [info_box_template.format(**row) for index, row in route_itinerary_df.iterrows()]
locations = route_itinerary_df[["Lat","Lng"]]

AttributeError: 'Directions' object has no attribute 'iterrows'

In [32]:
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer, )
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))